<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="include/left"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-form" style="padding: 20px">
            <h1 style="text-align: center">欢迎<span sec:authentication="principal.username"></span>进入轮胎宇后台管理系统</h1>
            <span sec:authentication="principal"></span>
        </div>
    </div>

    <div class="layui-footer" th:include="include/bottom"></div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</body>
</html>