<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>子账号</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="include/left"></div>
    <div class="layui-body">
        <span sec:authentication="principal.parentId" hidden id="parentId"></span>
        <!-- 内容主体区域 -->
        <div class="layui-form" style="padding: 20px">
            <div class="layui-btn-group layui-icon">
                <button class="layui-btn" id="addTable">添加</button>
            </div>
            <table class="layui-hide" id="baseInfo" lay-filter="demo"></table>
        </div>
    </div>

    <div class="layui-footer" th:include="include/bottom"></div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    layui.use(['element', 'table', 'form'], function () {
        var element = layui.element, table = layui.table, form = layui.form;
        table.render({
            elem: '#baseInfo'
            , url: '/web/admin/children/admin/list'
            , page: true //开启分页
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , id: 'idbaseInfo'
            , page: { //分页设定
                layout: ['limit', 'count', 'prev', 'page', 'next'] //自定义分页布局
                , curr: 1 //设定初始在第 1 页
                , limit: 10//每页多少数据
                , groups: 5 //只显示 5 个连续页码
            }
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: '200' //成功的状态码，默认：0
                , countName: 'total'
                , dataName: 'data' //数据列表的字段名称，默认：data
            }
            , cols: [
                [
                    {field: 'id', title: 'ID', align: 'center'}
                    , {field: 'name', title: '用户名', align: 'center'}
                    , {field: 'parentId', title: '父id', align: 'center'}
                    , {
                    field: 'createTime', title: '注册时间', align: 'center', templet: function (data) {
                        return createTime(data.createTime)
                    }
                }
                    , {
                    field: 'status', title: '状态', align: 'center', templet: function (data) {
                        if (data.status === '1') {
                            return '正常';
                        } else if (data.status === '2') {
                            return '冻结';
                        }
                    }
                }
                    , {field: 'right', title: '操作', toolbar: "#barDemo", align: 'center'}
                ]
            ]
        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                var auth = data.authority, str = '';
                for (var i = 0; i < auth.length; i++) {
                    str += '<input type="checkbox" value="' + auth[i].id + '" title="' + auth[i].explainName + '" checked/>';
                }
                layer.open({
                    type: 1 //此处以iframe举例
                    , title: '基本信息'
                    , area: ['390px', '420px']
                    , shade: 0.3
                    , anim: 2
                    , shadeClose: true
                    , btnAlign: 'c' //居中对齐
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '<form class="layui-form" action="" style="padding-top: 15px;">' +
                    '<div class="layui-form-item">' +
                    '<label class="layui-form-label">id</label>' +
                    '<div class="layui-input-inline">' +
                    '<input type="text" value="' + data.id + '" autocomplete="off" class="layui-input" readonly="readonly">' +
                    '</div>' +
                    '</div>' +
                    '<div class="layui-form-item">' +
                    '<label class="layui-form-label">名称</label>' +
                    '<div class="layui-input-inline">' +
                    '<input type="text" value="' + data.name + '" autocomplete="off" class="layui-input" readonly="readonly">' +
                    '</div>' +
                    '</div>' +
                    '<div class="layui-form-item">' +
                    '<label class="layui-form-label">权限</label>' +
                    '<div class="layui-input-inline" style="padding-top: 10px;">' +
                    '<span class="layui-form-text">' + str + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</form>'
                    , btn: ['关闭'] //只是为了演示
                    , yes: function () {
                        layer.closeAll();
                    }
                });
                form.render()
            } else if (obj.event === 'del') {
                layer.confirm('真的删除该子账户么', {
                    skin: 'layui-layer-lan',
                    anim: 1,
                    shadeClose: true,
                    icon: 5,
                    title: '提示'
                }, function (index) {
                    $.post('/web/admin/children/admin/del', {id: data.id}, function (data) {
                        if (data.code == '200') {
                            obj.del();
                            layer.close(index);
                        } else {
                            layer.msg('删除失败')
                        }
                    }, 'json')
                });
            } else if (obj.event === 'edit') {
                if ($('#parentId').text() === '200') {
                    var str = '', auth = data.authority
                    $.get('/web/authority/find/authority/list', function (date) {
                        if (date.code === '200') {
                            date = date.data;
                            console.info(data)
                            for (var i = 0; i < date.length; i++) {
                                var falg = false;
                                for (var j = 0; j < auth.length; j++) {
                                    if (date[i].id === auth[j].id) {
                                        falg = true;
                                    }
                                }
                                str += '<input type="checkbox" value="' + date[i].id + '" title="' + date[i].explainName + '"  ' + (falg ? "checked" : "") + '>';
                            }
                            layer.open({
                                type: 1 //此处以iframe举例
                                , title: '基本信息'
                                , area: ['500px', '450px']
                                , id: 'LAY_auth'
                                , shade: 0.3
                                , shadeClose: true
                                , anim: 3
                                , btnAlign: 'c' //居中对齐
                                , moveType: 1 //拖拽模式，0或者1
                                , content: '<form class="layui-form" action="" style="padding-top: 15px;">' +
                                '<div class="layui-form-item">' +
                                '<label class="layui-form-label">id</label>' +
                                '<div class="layui-input-inline">' +
                                '<input type="text" name="id" value="' + data.id + '" autocomplete="off" class="layui-input" readonly="readonly">' +
                                '</div>' +
                                '</div>' +
                                '<div class="layui-form-item">' +
                                '<label class="layui-form-label">名称</label>' +
                                '<div class="layui-input-inline">' +
                                '<input type="text" name="name" value="' + data.name + '" autocomplete="off" class="layui-input">' +
                                '</div>' +
                                '</div>' +
                                '<div class="layui-form-item">' +
                                '<label class="layui-form-label">密码</label>' +
                                '<div class="layui-input-inline">' +
                                '<input type="text" name="password" value="" autocomplete="off" class="layui-input">' +
                                '</div>' +
                                '</div>' +
                                '<div class="layui-form-item">' +
                                '<label class="layui-form-label">权限</label>' +
                                '<div class="layui-input-block">' +
                                str +
                                '</div>' +
                                '</div>' +
                                '<div class="layui-form-item">' +
                                '<div class="layui-input-block">' +
                                '<button class="layui-btn" lay-submit lay-filter="formauth">立即提交</button>' +
                                '</div>' +
                                '</div>' +
                                '</form>'
                                , yes: function () {
                                    layer.closeAll();
                                }
                            });
                            form.render()
                        }
                    }, 'json')
                } else {
                    layer.msg('权限不够')
                }
            }
        });

        $("#addTable").click(function () {
            layer.open({
                type: 1
                , title: '添加子账号' //不显示标题栏
                , area: ['373px', '285px']
                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                , shade: 0.3
                , anim: 1
                , shadeClose: true
                , btnAlign: 'c' //居中对齐
                , moveType: 1 //拖拽模式，0或者1
                , content: '<form class="layui-form" action="" style="padding-top: 33px;">' +
                '<div class="layui-form-item">' +
                '<label class="layui-form-label">用户名</label>' +
                '<div class="layui-input-inline">' +
                '<input type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">' +
                '</div>' +
                '</div>' +
                '<div class="layui-form-item">' +
                '<label class="layui-form-label">密码</label>' +
                '<div class="layui-input-inline">' +
                '<input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">' +
                '</div>' +
                '</div>' +
                '<div class="layui-form-item">' +
                '<div class="layui-input-block">' +
                '<button class="layui-btn" lay-submit lay-filter="addAdmin">立即提交</button>' +
                '</div>' +
                '</div>' +
                '</form>'
            });
        });

        form.on('submit(addAdmin)', function (data) {
            oldData = table.cache["idbaseInfo"];
            var data = data.field;
            var index = layer.msg('正在创建子账号，请稍候...', {icon: 16, time: false, shade: 0});
            setTimeout(function () {
                $.post('/web/admin/children/admin/save', data, function (data) {
                    if (data.code == '200') {
                        data1 = {
                            "id": data.data.id,
                            "name": data.data.name,
                            "icon": data.data.icon,
                            "parentId": data.data.parentId,
                            "createTime": data.data.createTime,
                            "status": data.data.status
                        };
                        oldData.push(data1);
                        table.reload('idbaseInfo', {
                            data: oldData
                        });
                        layer.closeAll();
                    } else {
                        layer.msg(data.msg)
                    }
                }, 'json')
            }, 500);
            return false;
        });

        form.on('submit(formauth)', function (data) {
            var auth = $(this).parents('form').find('input[type=checkbox]'), data = data.field, role = [];
            auth.each(function (i, o) {
                if ($(o).prop('checked')) {
                    role.push($(o).val())
                }
            })
            data.auths = role
            console.info(data)
            var index = layer.msg('授权中，请稍候...', {icon: 16, time: false, shade: 0});
            setTimeout(function () {
                jQuery.ajaxSettings.traditional = true;
                $.post('/web/admin/children/admin/auth/save', data, function (data) {
                    if (data.code == '200') {
                        layer.closeAll();
                        table.reload('idbaseInfo');
                    } else {
                        layer.msg('授权失败')
                    }
                }, 'json')
            }, 500);
            return false;
        });
    });

    function createTime(v) {
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? '0' + m : m;
        var d = date.getDate();
        d = d < 10 ? ("0" + d) : d;
        var h = date.getHours();
        h = h < 10 ? ("0" + h) : h;
        var M = date.getMinutes();
        M = M < 10 ? ("0" + M) : M;
        var s = date.getSeconds();
        s = s < 10 ? ("0" + s) : s;
        var str = y + "-" + m + "-" + d + " " + h + ":" + M + ":" + s;
        return str;
    }
</script>
</body>
</html>