<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户信息审核</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="include/left"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-form" style="padding: 20px">
            <div class="demoTable">
                搜索：
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="status" lay-verify="required" lay-search="" id="status">
                            <option value="">状态搜索</option>
                            <option value="2">通过</option>
                            <option value="3">没通过</option>
                        </select>
                    </div>
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
            <table class="layui-hide" id="baseInfo" lay-filter="demo"></table>
        </div>
    </div>

    <div class="layui-footer" th:include="include/bottom"></div>
</div>
<script type="text/html" id="barDemo">
    {{# if(d.authentication==2){}}
    通过
    {{# }else if(d.authentication==3){}}
    不通过
    {{# }else if(d.authentication==1){}}
    <a class="layui-btn layui-btn-xs" lay-event="edit">通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">不通过</a>
    {{# }}}
</script>
<script type="text/javascript">
    layui.use(['element','table','form'], function(){
        var element = layui.element,table = layui.table,form = layui.form;
        table.render({
            elem: '#baseInfo'
            , url: '/web/admin/examine/admin/list'
            , page: true //开启分页
            , cellMinWidth: 80  //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: { //分页设定
                layout: ['count', 'prev', 'page', 'next'] //自定义分页布局
                , curr: 1 //设定初始在第 1 页
                , limit: 10//每页多少数据
                , groups: 5 //只显示 5 个连续页码
            }
            , id: 'idbaseInfo'
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: '200' //成功的状态码，默认：0
                , countName: 'total'
                , dataName: 'data' //数据列表的字段名称，默认：data
            }
            , cols: [
                [
                    {field: 'icon', title: '头像', align: 'center', templet: function (data) {
                            return '<img src="'+data.icon+'">';
                        }}
                    , {field: 'name', title: '用户名', align: 'center'}
                    , {field: 'identityName', title: '真实名称', align: 'center'}
                    , {field: 'idCard', title: '身份证号', align: 'center'}
                    , {field: 'handheldIdentityCard', title: '身份证正面', align: 'center', templet: function (data) {
                        return '<img src="'+data.handheldIdentityCard+'">';
                    }}
                    , {
                    field: 'registerTime', title: '注册时间', align: 'center', templet: function (data) {
                        return createTime(data.registerTime)
                    }
                }
                    , {field: 'right', title: '操作', toolbar: "#barDemo", align: 'center'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.confirm('确定通过么', {
                    skin: 'layui-layer-molv',
                    anim: 1,
                    shadeClose: true,
                    icon: 1,
                    title: '提示'
                }, function (index) {
                    $.post('/web/admin/user/authentication/examine', {id: data.id, authentication: 2}, function (date) {
                        if (date.code == '200') {
                            obj.del();
                            layer.close(index);
                        } else {
                            layer.msg('操作失败')
                        }
                    }, 'json')
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的不通过么', {
                    skin: 'layui-layer-lan',
                    anim: 3,
                    shadeClose: true,
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    $.post('/web/admin/user/authentication/examine', {id: data.id, authentication: 3}, function (date) {
                        if (date.code == '200') {
                            obj.del();
                            layer.close(index);
                        } else {
                            layer.msg('操作失败')
                        }
                    }, 'json')
                });
            }
        });

        var $ = layui.$, active = {
            reload: function () {
                var status = $('#status').val();
                var index = layer.msg('查询中，请稍候...', {icon: 16, time: false, shade: 0});
                setTimeout(function () {
                    //执行重载
                    table.reload('idbaseInfo', {
                        page: {
                            curr: 1
                        },
                        where: {
                            status: status
                        }
                    });
                    layer.close(index);
                }, 400);
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
</body>
</html>