<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>轮播图</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="include/left"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-form" style="padding: 20px">
            <div class="layui-btn-group">
                <button class="layui-btn" id="addTable">添加</button>
            </div>
            <table class="layui-hide" id="baseInfo" lay-filter="demo"></table>
        </div>
    </div>

    <div class="layui-footer" th:include="include/bottom"></div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" href="/web/slideshowimg/slideshowimg/edit/s/id?id={{d.id}}">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    layui.use(['element','table','form','upload'], function(){
        var table = layui.table;
        table.render({
            elem: '#baseInfo'
            , url: '/web/slideshowimg/find/slideshowimg/s/list'
            , page: true //开启分页
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , id: 'idbaseInfo'
            , page: { //分页设定
                layout: ['count', 'prev', 'page', 'next'] //自定义分页布局
                , curr: 1 //设定初始在第 1 页
                , limit: 10//每页多少数据
                , groups: 5 //只显示 5 个连续页码
            }
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: '200' //成功的状态码，默认：0
                , countName: 'total'
                , dataName: 'data' //数据列表的字段名称，默认：data
            }
            , cols: [
                [
                    {field: 'id', title: 'ID', align: 'center'}
                    , {field: 'imgUrl', title: '图片地址', align: 'center'}
                    , {field: 'imgJump', title: '跳转地址', align: 'center'}
                    , {field: 'type', title: '类型', align: 'center', templet: function (data) {
                        if (data.type===1) {
                            return "首页图";
                        }else if (data.type===2) {
                            return "活动图";
                        }
                    }}
                    , {field: 'right', title: '操作', toolbar: "#barDemo", align: 'center'}
                ]
            ]
        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除该轮播图么', {
                    skin: 'layui-layer-lan',
                    anim: 1,
                    shadeClose: true,
                    icon: 5,
                    title: '提示'
                }, function (index) {
                    $.post('/web/slideshowimg/slideshowimg/del/s/id', {id: data.id}, function (data) {
                        if (data.code == '200') {
                            obj.del();
                            layer.close(index);
                        } else {
                            layer.msg('删除失败')
                        }
                    }, 'json')
                });
            }
        });

        $("#addTable").click(function () {
            location.href = '/web/slideshowimg/slideshowimg/edit/s/id'
        });
    });

</script>
</body>
</html>